<div>
    <h3>Order Summary</h3>
    <div class = "row">
        <div class="col s12">
            <table class="responsive-table striped">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th style="text-align: right;">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(k, v) in pendingItems">
                        <td><img height="100px" ng-src="{{ v.item.image_url }}" ></td>
                        <td>{{ v.item.name }}</td>
                        <td>{{ v.item.price }}</td>
                        <td>x{{ v.quantity }}</td>
                        <td style="text-align: right;">${{ v.quantity * v.item.price | number:2 }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="input-field col s12">
            <h6 class="right">Sub Total: ${{ total | number:2 }}</h5>
        </div>
        <div class="input-field col s12">
            <h6 class="right">Delivery: ${{ 20 | number:2 }}</h5>
        </div>
        <div class="input-field col s12">
            <h6 class="right">Total: ${{ total + 20 | number:2 }}</h5>
        </div>
        <div class="col s12">
            <button ng-click="openPaymentForm()" class="btn-large waves-effect waves-light deep-purple darken-1 right" type="submit" name="action">Checkout Now
                <i class="material-icons left">payment</i>
            </button>
        </div>
    </div>
</div>
