<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="shortcut icon" href="logo.png" />
        <script src="js/angular.min.js"></script>
         <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="css/materialize.min.css">
        <link rel="stylesheet" href="css/custom.css">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="js/angular-route.js"></script>
        <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script type="text/javascript" src="js/custom.js"></script>
        <title>Stripe Shopping Cart</title>
    </head>
    <body ng-app="StripeApp">
        <nav>
            <div class="navbar-fixed deep-purple darken-1">
                <a href="#"><img id="brand-logo" src="logo.png" ></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="waves-effect" href="#/!">Top Products</a></li>
                <li><a class="waves-effect" href="#!orders">Order History</a></li>
                <li><a class="waves-effect" href="#!cart" ng-init="pending_items=0"> <b> Check out {{ pendingQuant }} items in Cart </b> <i class="material-icons large left">shopping_cart</i></a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div ng-view></div>
        </div>
    </body>
</html>
