<div>
    <h3>Order History</h3>
    <div class = "row">
        <div class="col s12">
            <table class="responsive-table striped">
                <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Total</th>
                        <th>Payment Status</th>
                        <th>Paid by</th>
                        <th>Charge ID</th>
                        <th>Payment Intent ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in orders">
                        <td> {{ order.id }}</td>
                        <td>${{ order.payment_response.metadata.total / 100 | number:2 }}</td>
                        <td>{{ order.status }}</td>
                        <td>{{ order.payment_response.metadata.user }}</td>
                        <td>{{ order.payment_response.charges.data[0].id }}</td>
                        <td>{{ order.payment_response.id }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
