<div>
    <h1>Top Trending Products</h1>
    <div class="row">
        <div class="col s4" ng-repeat="p in products track by $index">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" height="300px" ng-src="{{ p.image_url }}">
                </div>
                <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{ p.name }}<i class="material-icons right">add</i></span>
                <h4>${{ p.price }}</h4>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
                    <p>{{ p.description }}</p>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="input_text" type="text" ng-model="arr[$index]">
                            <label for="input_text">Number of Items</label>
                        </div>
                        <div class="col s12">
                            <button ng-click="addToCart(p, arr[$index])" class="btn-large waves-effect waves-light deep-purple darken-1" type="submit" name="action">Add to Cart
                            <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
